.sc-player { width:100%; height:100%; position:relative; margin:0px; color:#666; font-size:12px; font-weight:600; }
.sc-player ol, .sc-player li { margin:0; padding:0; list-style-position:inside; }
/* Artworks */
.sc-player .sc-artwork-list { display:block; width:100%; height:316px; overflow:hidden; }
.sc-player .sc-artwork-list li { list-style-type:none; display:none; }
.sc-player .sc-artwork-list li.active { list-style-type:none; display:block; }
.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div { list-style-type:none; width:100%; height:100%; }

/* scrubber */
.sc-scrubber { position:absolute; left:0px; top:0px; width:100%; display:none; }
.sc-player.playing .sc-scrubber { left:0px; position:absolute; display:none; }
.sc-scrubber .sc-time-span { position:relative; }
.sc-scrubber .sc-buffer, .sc-scrubber .sc-played { position:absolute; top:0; width:0; -webkit-transition:width 0.1s linear; height:32px; }
/* tracks */

/* track listings */
ol.sc-trackslist { display:block; position:relative; overflow:hidden; overflow-y:scroll; height:150px; padding-top:2px; }
.sc-trackslist li { cursor:pointer; list-style:none; text-transform:uppercase; overflow:hidden; letter-spacing:.5px; display:table; width:100%; }
.sc-trackslist li a { line-height:17px; float:left; display:block; padding:7px 15px 6px 15px;  }
.sc-trackslist .artist-name { font-weight:400; color:#DDD; }
.sc-trackslist li.active .artist-name { font-weight:400; color:#00E2CF!important; }

.sc-player li.divider, .list-divider { cursor:default; padding:0px; height:2px; }

.sc-info { padding:10px 25px; }
.sc-info h3 { text-align:center; margin-bottom:0px; font-size:14px; line-height:18px; height:25px; overflow:hidden; }
.sc-info h3 a { width:100%; }
.sc-info h4, .sc-info p, .sc-info-close { display:none; }

.sc-artist-info { padding:15px; overflow:hidden; position:relative; }

.sc-artist-info .artist-pic { height:50px; width:50px; margin:0px 15px 0px; border-radius:100%; clear:both; overflow:hidden; float:left; }
.sc-artist-info .artist-pic img { width:100%; height:100%; }

.sc-artist-info .artist-meta { float:right; margin:0px 10px 0px 0px; width:190px; }
.sc-artist-info h4 { text-align:right; margin:0px 0px 15px; color:white; font-size:15px; line-height:18px; }
.sc-artist-info ul { text-align:right; }
.sc-artist-info ul li { display:inline-block; margin-left:8px; font-size:12px; }

.powered-by { text-transform:uppercase; font-size:8px; font-weight:300; letter-spacing:1px; padding:5px; text-align:right; }


.sc-player .playlist-header { height:35px; line-height:39px; font-size:13px; margin:0px; text-transform:uppercase; color:white; text-align:center; padding:0px 15px 0px; position:relative; }

/* Utilities */
.sc-player .hidden { display:none; }
.sc-player-engine-container { width:1px; height:1px; position:fixed; top:2px; left:2px; }
.sc-player.special { padding:5px; }
/* scrubber */
.sc-scrubber .sc-time-span img { height:32px; width:100%; background-color:transparent; }
.sc-scrubber .sc-played { }

/* controls */
.sc-player a { text-decoration:none; color:#fff!important; }
.sc-player .sc-controls { overflow:hidden; display:block; width:100%; padding:2px 0px 0px; text-align:center; }
.sc-controls a { display:inline-block; line-height:35px; font-size:17px; }
.sc-controls a.sc-play { font-size:22px; }
.sc-controls a.sc-pause { display:none; margin-left:-3px; }
.sc-player.playing .sc-controls a.sc-play { display:none; }
.sc-player.playing .sc-controls a.sc-pause { display:inline-block!important; visibility:visible!important; }
.sc-player .sc-controls a:hover { color:#ff7373; }

.sc-previous { position:absolute; left:75px; }
.sc-next { position:absolute; right:75px; }


.sc-volume-off span, .sc-volume-on span { top:2px; } 
.sc-player .sc-volume-on { display:none; }

.sc-scrubber .sc-time-indicators { background:#fff; color:#000; display:block; padding:2px; font-size:0.4em; font-weight:normal; line-height:1em; position:absolute; right:0; top:-20px; }
/* Track listings*/

.sc-player ol.sc-trackslist li.active a { color:#00E2CF!important; position:relative; z-index:10; }
.sc-track-duration { text-align:right; padding:0 0px 0px 10px; margin-left:5px; width:35px; display:table-cell; vertical-align:middle; }

.sc-waveform-container { display:block; z-index:10; position:absolute; top:0px; width:90%; right:0px; }
.sc-player.playing .sc-buffer { background-color:#fff; }

#large-waveform canvas { height:50px; width:100%; margin-top:-25px; }

/*
.sc-volume-slider { width:25px; position:absolute; height:60px; border:3px solid black; bottom:25px; left:10px; }
.sc-volume-status { background-color:blue; display:block; width:100%; position:absolute; bottom:0px; } 
*/