/* channel guide */

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover { outline:0px!important; }


.guide-wrapper { position:relative; }
.guide-wrapper .open-list { cursor:pointer; float:right; width:18px; line-height:52px; height:100%; }
.open-list:hover, .open-list.open { color:#00e2cf; }

.guide-wrapper .channels { overflow:hidden; color:#000; clear:both; top:0px; background:url('../images/channel-bg.jpg') repeat -1.5px 0 transparent; position:absolute; border:2px solid #EEE; border-top:0px; z-index:100; display:none; width:185px; right:-17px;
	-webkit-box-shadow:0 5px 25px -11px;
	   -moz-box-shadow:0 5px 25px -11px;
	 		box-shadow:0 5px 25px -11px;
}

.guide-wrapper .channels li { border-bottom:1px solid #333; text-align:center; }
.guide-wrapper .channels li:last-child { border-bottom:0px; }

.guide-wrapper .channels li a { padding:15px 20px; text-align:center; display:block; margin:0px auto; opacity:.6; }
.guide-wrapper .channels li a:hover { opacity:1; }
.guide-wrapper .channels img { margin:0px auto; }
.guide-wrapper .channels svg { display:block; }

/* navbar dropdown */
#navbar-dropdown { display:none; width:100%; top:54px; right:0px; padding:10px 0px; border:0px; background:white; box-shadow:0 6px 12px rgba(0, 0, 0, 0.3); position:absolute; }

#search-dropdown { height:80px; }
#search-dropdown .search-input { font-size:45px; margin:5px auto; text-align:left; width:80%; border:0px;  color:#00DBC9;}
#search-dropdown .search-wrapper { width:100%; display:block; border:0px; margin:0px auto; }

#search-dropdown .search-icon { font-size:45px; margin:0px 20px 0px 0px; color:#00DBC9; }
