.sc-player { width:100%; height:100%; position:relative; margin:0px; color:#666; font-size:12px; font-weight:600; }
.sc-player ol, .sc-player li { margin:0; padding:0; list-style-position:inside; }
/* Artworks */
.sc-player .sc-artwork-list { display:none; }
.sc-player .sc-artwork-list li { list-style-type:none; display:none; }
.sc-player .sc-artwork-list li.active { list-style-type:none; display:block; }
.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div { list-style-type:none; width:100%; height:100%; }

/* scrubber */
.sc-scrubber { position:absolute; left:0px; top:0px; width:100%; }
.sc-player.playing .sc-scrubber { display:block; left:0px; position:absolute; }
.sc-scrubber .sc-time-span { position:relative; }
.sc-scrubber .sc-buffer, .sc-scrubber .sc-played { position:absolute; top:0; width:0; -webkit-transition:width 0.1s linear; height:32px; }
/* tracks */

/* Track listings*/
.sc-player ol.sc-trackslist { display:block;position:relative; height:32px; overflow:hidden; }
.sc-player ol.sc-trackslist li { cursor:pointer; list-style:none; padding:7px 0px 7px 15px; text-transform:uppercase; height:23px; overflow:hidden; }
.sc-trackslist li a { line-height:17px; }

/* Utilities */
.sc-player .hidden { display:none; }
.sc-player-engine-container { width:1px; height:1px; position:fixed; top:2px; left:2px; }
.sc-player.special { padding:5px; }
/* scrubber */
.sc-scrubber .sc-time-span img { height:32px; width:100%; background-color:transparent; }
.sc-scrubber .sc-played { }

/* controls */
.sc-player a { text-decoration:none; color:#666; }
.sc-player .sc-controls { overflow:hidden; float:left; width:70px; margin:3px 0px; }
.sc-controls a { display:inline-block; margin-right:5px; font-size:18px; }
.sc-controls a.sc-pause { display:none; margin-left:-3px; }
.sc-player.playing .sc-controls a.sc-play { display:none; }
.sc-player.playing .sc-controls a.sc-pause { display:inline-block!important; visibility:visible!important; }
.sc-player .sc-controls a:hover { color:#ff7373; }

.sc-volume-off span, .sc-volume-on span { top:2px; } 
.sc-player .sc-volume-on { display:none; }

.sc-scrubber .sc-time-indicators { background:#fff; color:#000; display:block; padding:2px; font-size:0.4em; font-weight:normal; line-height:1em; position:absolute; right:0; top:-20px; }
/* Track listings*/
.sc-player ol.sc-trackslist li.active a { color:#333; position:relative; z-index:10; width:100%; overflow:hidden; display:block; font-weight:400; }
.sc-track-duration { text-align:right; float:right; padding:0 5px; margin-left:5px; display:none; }

.sc-waveform-container { display:block; z-index:10; position:absolute; top:0px; width:100%; }
.sc-player.playing .sc-buffer { background-color:#fff; }

/*
.sc-volume-slider { width:25px; position:absolute; height:60px; border:3px solid black; bottom:25px; left:10px; }
.sc-volume-status { background-color:blue; display:block; width:100%; position:absolute; bottom:0px; } 
*/