html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background:transparent; border:0; margin:0; padding:0; vertical-align:baseline; }
* { margin: 0px; }
html { overflow:-moz-scrollbars-vertical; color:#000; }
html { overflow-x:auto; }
h1, h2, h3, h4, h5, h6 { clear:both; font-weight:normal; }
ol, ul { list-style-type:none; }
blockquote { quotes:none; }
blockquote:before, blockquote:after { content:''; content:none; }
del { text-decoration:line-through; }
/* tables still n`d 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }

/***********************************************/

@font-face { font-family:'Hurme'; font-weight:200; src:url('fonts/HurmeGeometricSans1 Thin.otf') format('opentype'); }
@font-face { font-family:'Hurme'; font-weight:300; src:url('fonts/HurmeGeometricSans1 Light.otf') format('opentype'); }
@font-face { font-family:'Hurme'; font-weight:400; src:url('fonts/HurmeGeometricSans1.otf') format('opentype'); }
@font-face { font-family:'Hurme'; font-weight:500; src:url('fonts/HurmeGeometricSans1 SemiBold.otf') format('opentype'); }
@font-face { font-family:'Hurme'; font-weight:700; src:url('fonts/HurmeGeometricSans1 Bold.otf') format('opentype'); }
@font-face { font-family:'Hurme'; font-weight:800; src:url('fonts/HurmeGeometricSans1 Black.otf') format('opentype'); }


$pink: #FE626A;
$blue: #00E2CF;
$darkblue: #5784E0;
$gradient-gray: #2b2b2b;
$gradient-black: #010101;
$body-gray: #E8EDF7; /*eaeaea*/

$attack: #999;
$attack-dark: #454545;
$beatmersive: #00E2CF;
$beatmersive-dark: #5784E0;
$headliners: #00B3DD;
$headliners-dark: #0068DD;
$trc: #E81A1A;
$trc-dark: #9C1A1A;
$fnt: #007A73;
$fnt-dark: #007A73;
$rr: #6CBD4D;
$rr-dark: #53913B;


html { overflow:-moz-scrollbars-vertical; }
html { overflow-x:auto; }
body { font-size:14px; color:#333; background:$body-gray; position:relative; font-family:Hurme, Lato, Source Sans Pro, "Helvetica Neue", Helvetica, sans serif; 
  text-rendering:optimizeLegibility; -webkit-font-feature-settings:"kern" 1; font-feature-settings:"kern" 1; }


/******* global daily beat media navbar  *******/

/* header */

.navbar.affix { position:fixed; top:0px; width:100%; }
.logged-in .navbar.affix { top:32px; }
.logged-in .navbar-fixed-top { top:32px; }

.navbar-wrapper { position:relative; height:48px; }
.navbar { background:linear-gradient(to bottom, $gradient-gray, $gradient-black); margin-bottom:0px; border:0px; min-height:48px; height:48px;    
  box-shadow: 0px -1px 8px 0px;
}

.nav-border { width:100%; position:absolute; bottom:0px; height:2px; z-index:999; background-color:$blue; background-repeat:repeat-y; background:linear-gradient(to right, $blue, $darkblue); }

.navbar-header { width:100%; }
.navbar-default .navbar-brand:focus { background-color:;}
.navbar-brand { margin:0px 10px; padding:8px 0px; width:165px; height:40px; }
.navbar-brand:focus { outline:none; }

.navbar-extras { float:right; list-style-type:none; }
.navbar-extras > li { float:left; }

.navbar-default .navbar-form { border:0px; }

/* veggie burger */
#veggie { height:46px; width:45px; float:left; cursor:pointer; }
#veggie.menu-active { background:$blue; background-image:linear-gradient(to bottom, $darkblue, $blue); }

.veggieburger { width:18px; height:20px; position:relative; margin:15px auto 0px; transform:rotate(0deg); transition:.5s ease-in-out; cursor:pointer; }
.veggieburger span { display:block; position:absolute; height:3px; width:50%; background:#BCBCBC; opacity:1; transform:rotate(0deg); transition:.25s ease-in-out; }
#veggie:hover span { background:#828282; }
.menu-active span, #veggie.menu-active:hover span { background:$gradient-gray; }
.menu-active span { width:56%; }
.veggieburger span:nth-child(even) { left:50%; border-radius:0 1px 1px 0; }
.veggieburger span:nth-child(odd) { left:0px; border-radius:1px 0 0 1px; }
.veggieburger span:nth-child(1), .veggieburger span:nth-child(2) { top:0px; }
.veggieburger span:nth-child(3), .veggieburger span:nth-child(4) { top:6px; }
.veggieburger span:nth-child(5), .veggieburger span:nth-child(6) { top:12px; }
.menu-active .veggieburger span:nth-child(1), .menu-active .veggieburger span:nth-child(6) { transform:rotate(45deg); }
.menu-active .veggieburger span:nth-child(2), .menu-active .veggieburger span:nth-child(5) { transform:rotate(-45deg); }
.menu-active .veggieburger span:nth-child(1) { left:0px; top:3px; }
.menu-active .veggieburger span:nth-child(2) { left:calc(50% - 2px); top:3px; }
.menu-active .veggieburger span:nth-child(3) { left:-50%; opacity:0; }
.menu-active .veggieburger span:nth-child(4) { left:100%; opacity:0; }
.menu-active .veggieburger span:nth-child(5) { left:0px; top:10px; }
.menu-active .veggieburger span:nth-child(6) { left:calc(50% - 2px); top:10px; }

/* cabinet */
#cabinet-overlay { z-index:999; top:0px; right:0px; width:100%; height:100%; background:rgba(0,0,0,.5); position:absolute; overflow:hidden; visibility:hidden; opacity:0; 
  transition:visibility 0s, opacity 0.2s ease; background-attachmentpointer-events:none; z-index:100; }
.push-toright #cabinet-overlay { 
  visibility:visible; opacity:1; }

.push-body { overflow:hidden; position:relative; }

#cabinet.menu-open { transform:translateX(200px); }
.logged-in #cabinet { top:80px; height:calc(100% - 80px); }
#cabinet { background:$gradient-gray; position:fixed; width:200px; height:calc(100% - 48px); top:48px; bottom:0; z-index:1000; overflow-y:scroll; overflow-x:hidden; left:-200px;background-image:linear-gradient(to bottom, $gradient-gray, $gradient-black); transition:transform 0.2s ease 0s; z-index:102; -webkit-overflow-scrolling:touch; }

#cabinet h2 { width:100%; background:black; line-height:30px; height:30px; margin:0px; padding:0px 0px 0px 10px;
  background-image:linear-gradient(to right, $gradient-gray, $black); }
#cabinet h2 span { text-transform:uppercase; font-size:15px; font-weight:400; color:$blue; line-height:20px;
  background: -webkit-gradient(linear, 0 0, 100% 100%, from($blue), to($darkblue));
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
} 

li.divider, .list-divider { background-color:$gradient-gray; background-repeat:repeat-y; background:linear-gradient(to right, $gradient-gray, $gradient-black); padding:0px!important; margin:0px!important; }

#cabinet ul.sites { list-style-type:none; }
#cabinet ul.sites li { height:60px; width:100%; }
#cabinet ul.sites a { display:inline-block; height:60px; padding:15px 10px; }
#cabinet ul.sites li.divider { height:2px!important; }

.sites .svg-icon { width:30px; height:30px; }
.sites .svg-logo { width:0px; height:30px; margin-left:10px; vertical-align:text-top; }

/* svg alignment */
.sites .svg-trc-grey { padding-left:75px; }
.sites .svg-dbm-grey { padding-left:130px; margin-top:2px; }
.sites .svg-rr-grey { padding-left:120px; }
.sites .svg-beatmersive-grey { padding-left:126px; }
.sites .svg-fnt-grey { padding-left:125px; }
.sites .svg-headliners-grey { padding-left:110px; vertical-align:bottom; }
.sites .svg-attack-grey { padding-left:85px; vertical-align:middle; height:22px; }

.sites .svg-icon.svg-dbm-icon { margin-left:2px; width:26px; height:32px; }
.sites .svg-headliners-icon { vertical-align:sub; }

/* header icons */
.h-icon { float:left; font-size:19px; cursor:pointer; line-height:46px; }

.h-icon a { margin:0px 3px 0px 0px; padding:0px 5px; display:block; width:100%; height:100%; }
.h-icon a:last-child { margin-right:0px; }
.h-icon, .h-icon a { color:#EEE; }
.h-icon i { vertical-align:middle; }

.h-icon.facebook:hover a { color:#3B5998; }
.h-icon.twitter:hover a { color:#00aced; }
.h-icon.google:hover a { color:#dd4b39; }
.h-icon.instagram:hover a { color:#517fa4; }
.h-icon.soundcloud:hover a { color:#ff6600; }
.h-icon.youtube:hover a { color:#e52d27; }
.h-icon.subscribe:hover a { color:#9400D8; }
.h-icon.search:hover { color:#30E3D6; }

.h-icon.youtube > a { margin-right:3px; }
.h-icon.search { padding:0px 8px; margin-top:-1px; transition:.4s color ease-out; position:relative; }
.h-icon.beatsxtra { padding:8px 14px 8px 14px; line-height:30px; position:relative; }

.navbar-player { display:block; width:0px; transition:.5s ease width; white-space:nowrap; }
.navbar-player.active { width:300px; margin-right:-51px; }

.navbar-player ul { white-space:nowrap; overflow:hidden; }
.navbar-player li { display:inline-block; }

.navbar-player.playing .fa-pause-circle { display:inline-block; }
.navbar-player.playing .fa-play-circle { display:none; }
.navbar-player .fa-pause { display:none; }

.navbar-player .album { width:46px; height:46px; position:relative; }
.navbar-player .art img { width:100%; height:100%; }
.navbar-player .play-overlay { font-size:20px; position:absolute; top:0px; margin-top:0px; height:46px; }
.navbar-player .play-overlay .fa-stack { display:block; width:100%; line-height:46px; }
.navbar-player .play-overlay .fa-stack-2x { font-size:19px; line-height:46px; }

.navbar-player .track-info { color:white; float:none; overflow:hidden; display:inline-block; width:250px; position:static; height:46px; padding-top:3px; top:0px; }
.navbar-player .track-info h3 { font-size:12px; font-weight:bold; margin:0px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.navbar-player .track-info h4 {  font-size:12px; font-weight:400; margin:0px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }

#player_button .svg-beatsxtra-icon { display:none; }
#player_button.active { margin-left:51px; }
#player_button.active .svg-beatsxtra { display:none; }
#player_button.active .svg-beatsxtra-icon { display:inline-block; }

#player_button:hover, #player_button.open { background:$blue; background-image:linear-gradient(to bottom, $blue, $darkblue); }


.h-icon.divider { width:2px; height:100%; margin:0px 5px; background:$darkblue; background-image:linear-gradient(to bottom, $blue, $darkblue); }

.h-icon svg { width:60px; height:40px; font-size:16px; }

.header-search { float:left; margin:6px 0px; transition:.5s ease width; width:0px; overflow:hidden; }
.active .header-search { width:245px; }

.navbar-form { position:relative; margin:0px; padding:0px; }
.navbar-form .search-icon { position:absolute; top:0px; right:10px; cursor:default; line-height:33px; }
.navbar-form .search-box { font-size:14px; line-height:20px; padding:6px 35px 5px 12px; min-width:230px; border-radius:8px; background:transparent; border:2px solid #EEE; color:#30E3D6; letter-spacing:.3px; }

.h-icon .fa-times, .active .fa-search, .search-icon .fa-search { display:none; }
.active .h-icon .fa-times, .active .header-search .fa-search { display:inline-block; color:#30E3D6; }

.site-dropdown { border-right:2px solid #EEE; line-height:50px; padding-right:15px; text-transform:uppercase; font-weight:bold; font-size:14px; color:#EEE; transition:.4s color ease-out; font-family:Roboto, Arial; cursor:pointer; height:50px; }
.site-dropdown > div.open { overflow:hidden; height:50px; }
.site-dropdown:hover, .site-dropdown div.open { color:#30E3D6; }
.site-dropdown span { width:6px; text-align:center; display:inline-block; }
.open span.sites-open, span.sites-close { display:none; }
.open span.sites-close { display:inline-block; }

#page-progress { width:0px; position:absolute; top:0px; height:2px; display:none; z-index:999; background-color:$blue; background:linear-gradient(to right, $blue, $darkblue); }

/* beatsXtra music playa */
#player.menu-open { transform:translateX(200px); }
.logged-in #player { top:80px; height:calc(100% - 80px);}

#player { background:$gradient-gray; position:fixed; width:316px; height:calc(100% - 48px); top:48px; right:0; display:none; overflow:hidden; background-image:linear-gradient(to bottom, $gradient-gray, $gradient-black); transition:transform 0.2s ease 0s; z-index:102; -webkit-overflow-scrolling:touch; box-shadow:-1px 0px 20px 1px #666; }

#player .sc-player-wrapper { display:none; }
#player.loaded .sc-player-wrapper { display:block; }
#player .loading { font-size:60px; margin:30px auto; width:100%; text-align:center; color:#EEE; }
#player.loaded .loading { display:none; }
.queue-track { display:none; }



/* channel guide */

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover { outline:0px!important; }


.guide-wrapper { position:relative; }
.guide-wrapper .open-list { cursor:pointer; float:right; width:18px; line-height:52px; height:100%; }
.open-list:hover, .open-list.open { color:#00e2cf; }

.guide-wrapper .channels { overflow:hidden; color:#000; clear:both; top:0px; background:url('../images/channel-bg.jpg') repeat -1.5px 0 transparent; position:absolute; border:2px solid #EEE; border-top:0px; z-index:100; display:none; width:185px; right:-17px;
  -webkit-box-shadow:0 5px 25px -11px;
     -moz-box-shadow:0 5px 25px -11px;
      box-shadow:0 5px 25px -11px;
}

.guide-wrapper .channels li { border-bottom:1px solid #333; text-align:center; }
.guide-wrapper .channels li:last-child { border-bottom:0px; }

.guide-wrapper .channels li a { padding:15px 20px; text-align:center; display:block; margin:0px auto; opacity:.6; }
.guide-wrapper .channels li a:hover { opacity:1; }
.guide-wrapper .channels img { margin:0px auto; }
.guide-wrapper .channels svg { display:block; }

/* navbar dropdown */
#navbar-dropdown { display:none; width:100%; top:54px; right:0px; padding:10px 0px; border:0px; background:white; box-shadow:0 6px 12px rgba(0, 0, 0, 0.3); position:absolute; }

#search-dropdown { height:80px; }
#search-dropdown .search-input { font-size:45px; margin:5px auto; text-align:left; width:80%; border:0px;  color:#00DBC9;}
#search-dropdown .search-wrapper { width:100%; display:block; border:0px; margin:0px auto; }

#search-dropdown .search-icon { font-size:45px; margin:0px 20px 0px 0px; color:#00DBC9; }











/* navbar */






/* svg logos */
.via-wrapper { overflow:hidden; display:inline-block; vertical-align:middle; line-height:0px; margin-left:1px; pointer-events:all; }
.svg { display:inline-block; background-size:contain; background-repeat:no-repeat; vertical-align:middle; }

.caption .svg { margin-left:2px;
            filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .9));
}


.svg-trc { background-image:url(images/svg/torontorc_logo.svg); background-color:black; width:90px; height:11px; }
.svg-db { background-image:url(images/svg/db_logo.svg); width:50px; height:14px; }
.svg-dbm { background-image:url(images/svg/dbm_logo.svg); width:55px; }
.svg-rr { background-image:url(images/svg/raverrafting_logo_teal.svg); width:84px; height:15px; }
.svg-fnt { background-image:url(images/svg/logos/fnt_logo.svg); width:100px; height:20px; }

.post-meta .svg-trc { height:13px; width:106px; margin-left:-2px; }
.trending-topic .svg-trc { height:22px; width:180px; margin-left:-2px; }
.read-more .svg-trc { height:14px; width:115px; margin-left:1px; }

.post-meta .svg-rr { height:13px; width:75px; }
.trending-topic .svg-rr { height:25px; width:140px; }

.svg-trending { background:url(images/svg/trending.svg) no-repeat transparent; background-size:contain; }

.svg-beatsxtra { background-image:url(images/svg/beatsxtra_logo.svg); width:82px; height:30px; }
.svg-beatsxtra-icon { background-image:url(images/svg/beatsxtra_logo_icon.svg); width:31px; height:31px; }
#player_button:hover .svg-beatsxtra, #player_button.open .svg-beatsxtra { background-image:url(images/svg/beatsxtra_logo_active.svg); }
#player_button:hover .svg-beatsxtra-icon, #player_button.open .svg-beatsxtra-icon { background-image:url(images/svg/beatsxtra_logo_icon_active.svg); }

.svg-trc-grey { background-image:url(images/svg/logos/grey/trc.svg); }
.svg-dbm-grey { background-image:url(images/svg/logos/grey/dbm.svg); }
.svg-rr-grey { background-image:url(images/svg/logos/grey/raverrafting.svg); }
.svg-beatmersive-grey { background-image:url(images/svg/logos/grey/beatmersive.svg); }
.svg-fnt-grey { background-image:url(images/svg/logos/grey/freshnewtracks.svg); }
.svg-headliners-grey { background-image:url(images/svg/logos/grey/headliners.svg); }
.svg-attack-grey { background-image:url(images/svg/logos/grey/attack.svg); }

.svg-trc-icon { background-image:url(images/svg/logos/icon/trc.svg); }
.svg-dbm-icon { background-image:url(images/svg/logos/icon/dbm.svg); }
.svg-rr-icon { background-image:url(images/svg/logos/icon/raverrafting.svg); }
.svg-beatmersive-icon { background-image:url(images/svg/logos/icon/beatmersive.svg); }
.svg-fnt-icon { background-image:url(images/svg/logos/icon/freshnewtracks.svg); }
.svg-headliners-icon { background-image:url(images/svg/logos/icon/headliners.svg); }
.svg-attack-icon { background-image:url(images/svg/logos/icon/attack.svg); }


a:hover .svg-trc-icon, .svg-trc-icon-color { background-image:url(images/svg/logos/icon_color/trc.svg); }
a:hover .svg-dbm-icon, .svg-dbm-icon-color { background-image:url(images/svg/logos/icon_color/dbm.svg); }
a:hover .svg-rr-icon, .svg-rr-icon-color { background-image:url(images/svg/logos/icon_color/raverrafting.svg); }
a:hover .svg-beatmersive-icon, .svg-beatmersive-icon-color { background-image:url(images/svg/logos/icon_color/beatmersive.svg); }
a:hover .svg-fnt-icon, .svg-fnt-icon-color { background-image:url(images/svg/logos/icon_color/freshnewtracks.svg); }
a:hover .svg-headliners-icon, .svg-headliners-icon-color { background-image:url(images/svg/logos/icon_color/headliners.svg); }
a:hover .svg-attack-icon, .svg-attack-icon-color { background-image:url(images/svg/logos/icon_color/attack.svg); }




